#nav {
    display: flex;
    justify-content: space-between;
}

.icon {
    background-color: #202c33;
    color: white;
    display: flex;
    align-items: center;
}

.symbols {
    margin: 12px;
}

.rounded-circle {
    width: 45px;
    margin: 10px;
   
}

#search {
    background-color: #0a1014;
    padding: 10px;
}

.box {
    border: 1px solid rgba(128, 128, 128, 0);
    border-radius: 10px;
    background-color: #202c33;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 13px;
}

.box input {
    margin: 5px 25px;
    background-color: #202c33;
    border-radius: 10px;
    border-color: #202c33;
}

.col-md-4 {
    padding: 0;
}

#dm {
    background-color: #202c33;
}

#dm .chat {
    background-color: #0a1014;
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

#dm .rounded-circle {
    width: 45px;
    height: 45px;
    object-fit: cover;
}

.openchat {
    background-color: #2a343a;
    color: white;
    display: flex;
}

.openchat .rounded-circle {
    width: 45px;
    height: 45px;
}

.contato {
    display: flex;
    flex-direction: column;
}

.col-md-8 {    
    background-image: url(img/background.webp);
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: space-between;
}

#dmbar {
    background-color: #2a343a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px
}

.dmicons {
    padding: 0px 15px;
}

.txt {
    height: 40px;
    color: white;
    width: 600px;
    display: flex;
    justify-content: center;
}

#dmbar input {
    margin: 5px 25px;
    background-color: #202c33;
    border-radius: 10px;
    border-color: #202c33;background-color: #414547;
}